%%% -*- mode: erlang -*-

{plugins, [pc]}.

{provider_hooks, [{pre, [{compile, {pc, compile}},
			 {clean, {pc, clean}}]
		  }]}.

{port_env, [ {"CFLAGS", "$CFLAGS -Ic_src/ed25519 -Ic_src/ed25519/nacl_includes -Ic_src/ed25519/additions"} ]}.

{port_specs, [{"x86_64", "priv/curve25519_drv.so", ["c_src/curve25519-donna-c64.c",
						    "c_src/ed25519/*.c",
						    "c_src/ed25519/nacl_sha512/*.c",
						    "c_src/ed25519/additions/*.c",
						    "c_src/curve25519_nif.c"]},
	      {"i[36]86", "priv/curve25519_drv.so", ["c_src/curve25519-donna.c",
						     "c_src/ed25519/*.c",
						     "c_src/ed25519/nacl_sha512/*.c",
						     "c_src/ed25519/additions/*.c",
						      "c_src/curve25519_nif.c"]}
	     ]}.
